[Desktop Entry]
Encoding=UTF-8
Name=Link to http://rubyonrails.org/images/rails.png
Type=Link
URL=http://rubyonrails.org/images/rails.png
Icon=image-png
